h1 {
  color: blue;
  font-family: fantasy;
}

.selected {
  color: #22bdf0;
}

.keg-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.row {
  margin-bottom: 10px;
}

#each-keg-block {
  border-width: medium;
  border-radius: 5px;
  border-style: outset;
  border-color: red;
  margin: 10px;
}
